i {
  height: 30px;
  vertical-align: middle;
}
.widget {
  padding-top: 28px;
  padding-bottom: 10px;
  outline-offset: 0;
  padding-right: 12px;
  padding-left: 12px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  border-bottom: 4px solid transparent;
  transition: all 0.5s ease-in-out;
}

.widget:hover {
  cursor: pointer;
}
